.article {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  align-items: start;
}

.image {
  max-width: 280px;
  margin: 10px 0;
}

.info {
  position: relative;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
}

.title {
  margin: 10px 0;
  font-size: 25px;
}

.date {
  float: right;
  margin: 10px;
  margin-left: 20px;
  color: #a6a6a6;
}

.preamble {
  width: 100%;
  margin-top: 30px;
}

@media all and (max-width: 800px) {
  .image {
    max-width: 120px;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .title {
    margin: 0;
    font-size: 20px;
  }
  .preamble {
    display: none;
  }
  .date {
    float: none;
    margin: 10px 0;
    order: 1;
  }
}