.filters {
  flex-basis: 20%;
  margin-top: 44px;
}

.filters_title {
  text-decoration: underline;
}

.filter_label {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.filter_label input {
  margin-right: 10px;
}

@media all and (max-width: 800px) {
  .filters {
    margin-top: 0;
    margin-bottom: 20px;
  }
}