.sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.sorting span {
  cursor: pointer;
}
.sorting_triangles {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.sorting_triangle {
  cursor: pointer;
  color: #a6a6a6;
  transition: color .3s linear;
}

.sorting_triangle.active {
  color: black;
}

@media all and (max-width: 800px) {
  .sorting {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px
  }
}